<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>
  <body>
    {{ content | safe }}
    <button class="my-button">hey</button>
  </body>
</html>
